@font-face {
    font-family: 'tigo';
    src: url('../recursos/LetraTigo/tigo.ttf');
    text-align: center;
    align-items: center;
  }
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    font-family: 'tigo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    font-family: 'tigo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-image: url(../recursos/img/fondo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
/*++++++++++++++++++++++++++++++++++++ESTILOS SWEET ALERT++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.swal2-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
/*++++++++++++++++++++++++++++++++++++ESTILOS VIDEO INICIAL TIENDA - RIGO++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#contenedorVideoInicial {    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}
#contenedorVideoInicial #contenedorVideoRigo {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 20px white;
}
#contenedorVideoInicial #contenedorVideoRigo #videoTiendaRigo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*++++++++++++++++++++++++++++++++++++ESTILOS IMAGEN TRANSICION++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#contenedorVideoInicial #contenedorImagenTransicion {
    width: 90%;
    height: 90%;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 20px white;
}
#contenedorVideoInicial #contenedorImagenTransicion #imagenTransicion {
    width: 100%;
    height: 100%;
}
#contenedorVideoInicial #contenedorImagenTransicion #btnVerVideos {
    width: 43%;
    height: 40%;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: transparent;
    color: white;
    font-size: 25px;
    border: none;
    cursor: pointer;
}
#contenedorVideoInicial #contenedorImagenTransicion #videoInmersion {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: none;
}
/*++++++++++++++++++++++++++++++++++++ESTILOS MEDIA QUERY++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++   360 px //544 px    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media (min-width: 320px) and (max-width: 544px) {
    .swal2-container .swal2-popup {
        width: 70%;
        height: 80%;
        font-size: 14px;
    }
    #contenedorVideoInicial #contenedorVideoRigo {
        width: 100%;
        height: 70%;
    }
    #contenedorVideoInicial #contenedorVideoRigo #videoTiendaRigo {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /*++++++++++++++++++++++++++++++++++++ESTILOS IMAGEN TRANSICION++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    #contenedorVideoInicial #contenedorImagenTransicion {
        width: 100%;
        height: 50%;
        box-shadow: 0 0 10px white;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #imagenTransicion {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #btnVerVideos {
        width: 43%;
        height: 25%;
        top: 25%;
        left: 10%;
        font-size: 15px;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #videoInmersion {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
/*++++++++++++++++++++++++++++++++++++MIN WIDTH 545 - 640 PX++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media (min-width: 545px) and (max-width: 640px) {
    .swal2-container .swal2-popup {
        width: 70%;
        height: 80%;
        font-size: 18px;
    }
    #contenedorVideoInicial #contenedorVideoRigo {
        width: 100%;
        height: 70%;
    }
    #contenedorVideoInicial #contenedorVideoRigo #videoTiendaRigo {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }    /*++++++++++++++++++++++++++++++++++++ESTILOS IMAGEN TRANSICION++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    #contenedorVideoInicial #contenedorImagenTransicion {
        width: 100%;
        height: 50%;
        box-shadow: 0 0 10px white;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #imagenTransicion {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #btnVerVideos {
        width: 43%;
        height: 25%;
        top: 25%;
        left: 10%;
        font-size: 15px;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #videoInmersion {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
/*++++++++++++++++++++++++++++++++++++MIN WIDTH 641 - 780 PX++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media (min-width: 641px) and (max-width: 780px) {
    .swal2-container .swal2-popup {
        width: 70%;
        height: 80%;
        font-size: 20px;
    }
    #contenedorVideoInicial #contenedorVideoRigo {
        width: 100%;
        height: 70%;
    }
    #contenedorVideoInicial #contenedorVideoRigo #videoTiendaRigo {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }    /*++++++++++++++++++++++++++++++++++++ESTILOS IMAGEN TRANSICION++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    #contenedorVideoInicial #contenedorImagenTransicion {
        width: 100%;
        height: 50%;
        box-shadow: 0 0 10px white;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #imagenTransicion {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #btnVerVideos {
        width: 43%;
        height: 25%;
        top: 25%;
        left: 10%;
        font-size: 15px;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #videoInmersion {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
/*++++++++++++++++++++++++++++++++++++MIN WIDTH 781 - 1024 PX++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media (min-width: 781px) and (max-width: 1023px) {
    .swal2-container .swal2-popup {
        width: 70%;
        height: 80%;
        font-size: 25px;
    }
    #contenedorVideoInicial #contenedorVideoRigo {
        width: 100%;
        height: 70%;
    }
    #contenedorVideoInicial #contenedorVideoRigo #videoTiendaRigo {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /*++++++++++++++++++++++++++++++++++++ESTILOS IMAGEN TRANSICION++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    #contenedorVideoInicial #contenedorImagenTransicion {
        width: 100%;
        height: 50%;
        box-shadow: 0 0 10px white;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #imagenTransicion {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #btnVerVideos {
        width: 43%;
        height: 25%;
        top: 25%;
        left: 10%;
        font-size: 15px;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #videoInmersion {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
/*++++++++++++++++++++++++++++++++++++MIN WIDTH 1024 - 1280 PX++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media (min-width: 1024px) and (max-width: 1280px) {
    .swal2-container .swal2-popup {
        width: 70%;
        height: 80%;
        font-size: 20px;
    }
    #contenedorVideoInicial #contenedorVideoRigo {
        width: 100%;
        height: 80%;
    }
    #contenedorVideoInicial #contenedorVideoRigo #videoTiendaRigo {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /*++++++++++++++++++++++++++++++++++++ESTILOS IMAGEN TRANSICION++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    #contenedorVideoInicial #contenedorImagenTransicion {
        width: 100%;
        height: 80%;
        box-shadow: 0 0 10px white;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #imagenTransicion {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #btnVerVideos {
        width: 43%;
        height: 25%;
        top: 20%;
        left: 12%;
        font-size: 15px;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #videoInmersion {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
@media (orientation: landscape) and (max-height: 385px) { 
    #contenedorVideoInicial #contenedorVideoRigo {
        width: 100%;
        height: 90%;
    }
    #contenedorVideoInicial #contenedorVideoRigo #videoTiendaRigo {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /*++++++++++++++++++++++++++++++++++++ESTILOS IMAGEN TRANSICION++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    #contenedorVideoInicial #contenedorImagenTransicion {
        width: 100%;
        height: 90%;
        box-shadow: 0 0 10px white;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #imagenTransicion {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #btnVerVideos {
        width: 43%;
        height: 25%;
        top: 25%;
        left: 10%;
        font-size: 15px;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #videoInmersion {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
@media (orientation: landscape) and (min-height: 410px) and (max-height: 550px) { 
    #contenedorVideoInicial #contenedorVideoRigo {
        width: 100%;
        height: 90%;
    }
    #contenedorVideoInicial #contenedorVideoRigo #videoTiendaRigo {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /*++++++++++++++++++++++++++++++++++++ESTILOS IMAGEN TRANSICION++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    #contenedorVideoInicial #contenedorImagenTransicion {
        width: 100%;
        height: 90%;
        box-shadow: 0 0 10px white;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #imagenTransicion {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #btnVerVideos {
        width: 43%;
        height: 25%;
        top: 25%;
        left: 10%;
        font-size: 15px;
    }
    #contenedorVideoInicial #contenedorImagenTransicion #videoInmersion {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}