
@font-face {
    font-family: 'tigo';
    src: url('../recursos/LetraTigo/tigo.ttf');
    text-align: center;
    align-items: center;
}
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-image: url(../recursos/img/fondo.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'tigo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.container .titulo {
    width: 100%;
    height: 6%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
}
.container .subtitulo {
    width: 100%;
    height: 6%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
.container .palabras{
    width: 100%;
    height: 5%;
    margin: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
.container .palabras li {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    text-align: center;
}
.container #espacio{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container #espacio .tabla{
    width: 80%;
    height: 70%;
    border:solid 2px white;
    border-collapse: collapse; 
}
.container #espacio .tabla tr {
    width: 100%;
    height: 9%;
}
.container #espacio .tabla tr td {
    width: 9%;
    height: 100%; 
    text-align: center;
    border: solid 1px black;
    padding: 1rem; 
    font-size: 1rem;
}
.container #espacio .btnRegresar{
    width: 15%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: solid 1px white;
    border-radius: 10px;
    cursor: pointer;
    background: #007bff;
    border: solid #00377D 2px;
}
.swal2-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swal2-container .swal2-popup {
    width: 30%;
    height: 40%;
    font-size: 12px;
} 
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++RESPONSIVE+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++vertical++++++++++++++++++++++++++++++++++*/
@media (min-width:320px) and (max-width:544px) {
    .container .titulo {
        width: 100%;
        height: 10%;
        font-size: 25px;
    }
    .container .subtitulo {
        width: 100%;
        height: 8%;
        font-size: 20px;
    }
    .container .palabras{
        width: 100%;
        height: 8%;
        font-size: 15px;
    }
    .container .palabras li {
        width: 25%;
        height: 95%;
        font-size: 12px;
    }
    .container #espacio{
        width: 100%;
        height: 70%;
    }
    .container #espacio .tabla{
        width: 80%;
        height: 70%;
    }
    .container #espacio .tabla tr{
        width: 100%;
        height: 9%;
    }
    .container #espacio .tabla tr td {
        width: 9%;
        height: 100%; 
        padding: 0.5rem; 
        font-size: 1rem;
    }
    .container #espacio .btnRegresar{
        width: 30%;
        height: 5%;
        font-size: 15px;
    }
    .swal2-container .swal2-popup {
        width: 80%;
        height: 50%;
        font-size: 14px;
    }
}
@media (min-width:545px) and (max-width:680px) {
    .container .titulo {
        width: 100%;
        height: 10%;
        font-size: 45px;
    }
    .container .subtitulo {
        width: 100%;
        height: 8%;
        font-size: 35px;
    }
    .container .palabras{
        width: 100%;
        height: 8%;
    }
    .container .palabras li {
        width: 25%;
        height: 95%;
        font-size: 20px;
    }
    .container #espacio{
        width: 100%;
        height: 60%;
    }
    .container #espacio .tabla{
        width: 80%;
        height: 70%;
    }
    .container #espacio .tabla tr{
        width: 100%;
        height: 9%;
    }
    .container #espacio .tabla tr td {
        width: 9%;
        height: 100%; 
        padding: 0.5rem; 
        font-size: 1.5rem;
    }
    .container #espacio .btnRegresar{
        width: 30%;
        height: 5%;
        font-size: 20px;
    }
    .swal2-container .swal2-popup {
        width: 80%;
        height: 50%;
        font-size: 18px;
    }
}
@media (min-width:681px) and (max-width:780px) {
    .container .titulo {
        width: 100%;
        height: 10%;
        font-size: 45px;
    }
    .container .subtitulo {
        width: 100%;
        height: 8%;
        font-size: 35px;
    }
    .container .palabras{
        width: 100%;
        height: 8%;
    }
    .container .palabras li {
        width: 25%;
        height: 95%;
        font-size: 20px;
    }
    .container #espacio{
        width: 100%;
        height: 60%;
    }
    .container #espacio .tabla{
        width: 80%;
        height: 70%;
    }
    .container #espacio .tabla tr{
        width: 100%;
        height: 9%;
    }
    .container #espacio .tabla tr td {
        width: 9%;
        height: 100%; 
        padding: 0.5rem; 
        font-size: 1.5rem;
    }
    .container #espacio .btnRegresar{
        width: 30%;
        height: 5%;
        font-size: 20px;
    }
    .swal2-container .swal2-popup {
        width: 80%;
        height: 50%;
        font-size: 20px;
    }
}
@media (min-width:781px) and (max-width:1023px) {
    .container .titulo {
        width: 100%;
        height: 10%;
        font-size: 50px;
    }
    .container .subtitulo {
        width: 100%;
        height: 8%;
        font-size: 45px;
    }
    .container .palabras{
        width: 100%;
        height: 8%;
    }
    .container .palabras li {
        width: 25%;
        height: 95%;
        font-size: 25px;
    }
    .container #espacio{
        width: 100%;
        height: 60%;
    }
    .container #espacio .tabla{
        width: 80%;
        height: 70%;
    }
    .container #espacio .tabla tr{
        width: 100%;
        height: 9%;
    }
    .container #espacio .tabla tr td {
        width: 9%;
        height: 100%; 
        padding: 0.5rem; 
        font-size: 1.8rem;
    }
    .container #espacio .btnRegresar{
        width: 30%;
        height: 5%;
        font-size: 30px;
    }
    .swal2-container .swal2-popup {
        width: 80%;
        height: 50%;
        font-size: 20px;
    }
}
@media (min-width:1024px) and (max-width:1280px) {
    .container .titulo {
        width: 100%;
        height: 10%;
        font-size: 35px;
    }
    .container .subtitulo {
        width: 100%;
        height: 8%;
        font-size: 30px;
    }
    .container .palabras{
        width: 100%;
        height: 8%;
    }
    .container .palabras li {
        width: 25%;
        height: 95%;
        font-size: 20px;
    }
    .container #espacio{
        width: 100%;
        height: 70%;
    }
    .container #espacio .tabla{
        width: 80%;
        height: 70%;
    }
    .container #espacio .tabla tr{
        width: 100%;
        height: 9%;
    }
    .container #espacio .tabla tr td {
        width: 9%;
        height: 100%; 
        padding: 0.3rem; 
        font-size: 1.2rem;
    }
    .container #espacio .btnRegresar{
        width: 30%;
        height: 8%;
        font-size: 25px;
    }
    .swal2-container .swal2-popup {
        width: 55%;
        height: 55%;
        font-size: 15px;
    }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++RESPONSIVE+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++horizontal++++++++++++++++++++++++++++++++++*/
@media (orientation: landscape) and (max-height:330px) {
    .container .titulo {
        width: 100%;
        height: 8%;
        margin: 0%;
        font-size: 20px;
        font-weight: normal;
    }
    .container .subtitulo {
        width: 100%;
        height: 6%;
        margin: 0%;
        font-size: 15px;
        font-weight: normal;
    }
    .container .palabras{
        width: 100%;
        height: 4%;
        margin: 0%;
        font-size: 15px;
    }
    .container .palabras li {
        width: 25%;
        height: 95%;
        font-size: 12px;
    }
    .container #espacio{
        width: 100%;
        height: 80%;
    }
    .container #espacio .tabla{
        width: 80%;
        height: 70%;
    }
    .container #espacio .tabla tr{
        width: 100%;
        height: 9%;
    }
    .container #espacio .tabla tr td {
        width: 9%;
        height: 100%; 
        padding: 0.3rem; 
        font-size: 9px;
    }
    .container #espacio .btnRegresar{
        width: 30%;
        height: 5%;
        font-size: 15px;
    }
    .swal2-container .swal2-popup {
        width: 60%;
        height: 80%;
        font-size: 12px;
    }
}
@media (orientation: landscape) and (min-height:331px) and (max-height:385px) {
    .container .titulo {
        width: 100%;
        height: 8%;
        margin: 0%;
        font-size: 20px;
        font-weight: normal;
    }
    .container .subtitulo {
        width: 100%;
        height: 6%;
        margin: 0%;
        font-size: 15px;
        font-weight: normal;
    }
    .container .palabras{
        width: 100%;
        height: 4%;
        margin: 0%;
        font-size: 15px;
    }
    .container .palabras li {
        width: 25%;
        height: 95%;
        font-size: 12px;
    }
    .container #espacio{
        width: 100%;
        height: 80%;
    }
    .container #espacio .tabla{
        width: 80%;
        height: 80%;
    }
    .container #espacio .tabla tr{
        width: 100%;
        height: 9%;
    }
    .container #espacio .tabla tr td {
        width: 9%;
        height: 100%; 
        padding: 0.3rem; 
        font-size: 10px;
    }
    .container #espacio .btnRegresar{
        width: 30%;
        height: 5%;
        font-size: 15px;
    }
    .swal2-container .swal2-popup {
        width: 60%;
        height: 80%;
        font-size: 14px;
    }
}
@media (orientation: landscape) and (min-height: 410px) and (max-height:550px) {
    .container .titulo {
        width: 100%;
        height: 8%;
        margin: 0%;
        font-size: 20px;
        font-weight: normal;
    }
    .container .subtitulo {
        width: 100%;
        height: 6%;
        margin: 0%;
        font-size: 15px;
        font-weight: normal;
    }
    .container .palabras{
        width: 100%;
        height: 4%;
        margin: 0%;
        font-size: 15px;
    }
    .container .palabras li {
        width: 25%;
        height: 95%;
        font-size: 12px;
    }
    .container #espacio{
        width: 100%;
        height: 80%;
    }
    .container #espacio .tabla{
        width: 80%;
        height: 75%;
    }
    .container #espacio .tabla tr{
        width: 100%;
        height: 9%;
    }
    .container #espacio .tabla tr td {
        width: 9%;
        height: 100%; 
        padding: 0.4rem; 
        font-size: 11px;
    }
    .container #espacio .btnRegresar{
        width: 30%;
        height: 5%;
        font-size: 15px;
    }
    .swal2-container .swal2-popup {
        width: 60%;
        height: 70%;
        font-size: 14px;
    }
}
@media (orientation: landscape) and (min-height: 551px) and (max-height:620px) {/*NEXUS 7 horizontal*/
    .container .titulo {
        width: 100%;
        height: 8%;
        margin: 0%;
        font-size: 35px;
    }
    .container .subtitulo {
        width: 100%;
        height: 6%;
        margin: 0%;
        font-size: 25px;
    }
    .container .palabras{
        width: 100%;
        height: 4%;
        margin: 0%;
    }
    .container .palabras li {
        width: 25%;
        height: 95%;
        font-size: 20px;
    }
    .container #espacio{
        width: 100%;
        height: 80%;
    }
    .container #espacio .tabla{
        width: 80%;
        height: 75%;
    }
    .container #espacio .tabla tr{
        width: 100%;
        height: 9%;
    }
    .container #espacio .tabla tr td {
        width: 9%;
        height: 100%; 
        padding: 0.5rem; 
        font-size: 1.2rem;
    }
    .container #espacio .btnRegresar{
        width: 30%;
        height: 5%;
        font-size: 16px;
    }
    .swal2-container .swal2-popup {
        width: 60%;
        height: 70%;
        font-size: 16px;
    }
}